.breadcrumb-link {
  text-decoration: none;
  font-weight: 400; /* Default font weight */
  color: inherit; /* Keeps default text color */
  position: relative;
  padding-bottom: 5px;
}

/* Adding a custom underline effect */
.breadcrumb-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: transparent; /* Default color */
  transition: width 0.3s ease, background-color 0.3s ease;
  border-radius: 20px; /* Roundness of the underline */
}

/* Active breadcrumb link will have an underline and change font weight */
.breadcrumb-link.active {
  font-weight: 600; /* Semi-bold */
}

.breadcrumb-link.active::after {
  width: 100%; /* Full underline width */
  background-color: currentColor; /* Will take the text color */
}