/************************** GLOBALS ***************************/

html {
  padding: 0;
  margin: 0;
  font-size: 18px; /* default for larger screens */
}

body {
  background-color: #ffffff;
  font-family: 'Plus Jakarta Sans';
  color: var(--dark-blue);
}

.container-fluid {
  padding: 7% 17% 7% 17%;
  background-color: var(--white);
}

.container-members {
  padding: 5% 5% 5% 5%;
}

.container-features {
  margin-bottom: 32px;
}

/* headings */

h1 {
  color: var(--dark-blue);
  font-size: 2.125rem;
  font-weight: 700;
}

h2 {
  color: var(--dark-blue);
  font-size: 1rem;
}

h3 {
  color: var(--dark-blue);
  font-size: 1.75rem; /* 1.5 */
}

h4 {
  color: var(--dark-blue);
  font-size: 1.5rem; /*1.75*/
}

h5 {
  color: var(--dark-blue);
  font-size: 1rem; /*1.25*/
}

h6 {
  color: var(--dark-blue);
  font-size: 1rem;
  text-decoration: underline;
}


/* media query to adjust font size for smaller screens */

@media (max-width: 1200px) {
  html {
    font-size: 16px; /* Smaller screens get a smaller root font size */
  }
}

@media (max-width: 992px) {
  html {
    font-size: 16px; /* Further reduce root font size for medium screens */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px; /* Reduce root font size for tablets */
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  .body-normal {
    font-size: 1.125rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 16px; /* Small screens, like mobile phones */
  }
  
}

/* adjust padding for mobile screens (max-width: 767px) */
@media (max-width: 767.98px) {
  .container-about {
    padding: 0px; /* smaller padding for mobile screens */
  }
  .container-fluid {
    padding: 12% 7% 12% 7%;
  }
}

/* body text */

.body-large {
  font-size: 1.25rem;
}

.body-normal {
  font-size: 1.125rem;
}

.body-small {
  font-size: 1rem;
}

/************************** ABOUT ***************************/
/* Navbar */

.navbar .container-fluid {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: var(--blue) !important;
}

.custom-navbar {
  background-color: var(--blue) !important;
}

.navbar-brand {
  color: var(--white);
  font-weight: 600;
}

.navbar-brand:hover {
  color: var(--white);
}

.navbar .navbar-nav .nav-link {
  font-size: 0.85rem;
  padding: 20px;
  color: var(--white);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-collapse {
 text-align: center;
}

/*  services available */

.container-features {
  padding: 0px;
}

.card-body-cat {
  background-image: url('../images/cat-fundraiser-pink.svg');
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-body-search {
  background-image: url('../images/search-pink.svg');
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-body-vets {
  background-image: url('../images/veterinary-pink.svg');
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/************************** WHY WE DO IT ***************************/

.container-cards {
  margin-top: 60px;
}

.card-body-fact-one {
  background-color: var(--purple);
  color: var(--white);
}

.card-body-fact-two {
  background-color: var(--blue);
  color: var(--white);
  padding: 15% 15% 10% 15%;
}

.card-body-fact-three {
  background-color: var(--aqua);
  color: var(--white);
  padding: 15% 15% 10% 15%;
}

.card-body-fact-four {
  background-color: var(--pink);
  color: var(--white);
  padding: 15% 15% 10% 15%;
}

.card-title-facts {
  font-weight: 600;
  color: var(--white);
}

/************************** HOW CAN WE HELP ***************************/

/* horizontal breadcrumbs */

.breadcrumb-link {
  text-decoration: none;
  font-weight: 400; 
  color: inherit; /* keeps default text color */
  position: relative;
  padding-bottom: 5px;
}

/* adding a custom underline effect */

.breadcrumb-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: transparent; /* default color */
  transition: width 0.3s ease, background-color 0.3s ease;
  border-radius: 20px; 
}

/* active breadcrumb link will have an underline and change font weight */
.breadcrumb-link.active {
  font-weight: 600; /* semi-bold */
}

.breadcrumb-link.active::after {
  width: 100%; 
  background-color: currentColor; /* will take the text color */
}

/* breadcrumbs links */

.breadcrumb-item-one a {
  font-weight: 600;
  color: var(--aqua);
}

.breadcrumb-item-two a {
  font-weight: 600;
  color: var(--purple);
}

.breadcrumb-item-three a {
  font-weight: 600;
  color: var(--dark-blue);
}

.breadcrumb-item-four a {
  font-weight: 600;
  color: var(--blue);
}

.breadcrumb-item-five a {
  font-weight: 600;
  color: var(--pink);
}


/* check icons in breadcrumbs */

.icon-list li {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 30px; /* Adjust based on icon size */
}

.icon-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size based on your icon */
  height: 20px; /* Adjust size based on your icon */
  background: url('../images/aqua.svg') no-repeat center center;
  background-size: contain; /* Ensures the entire icon is visible */
}

.icon-list-two li::before {
  background: url('../images/purple.svg') no-repeat center center;
}

.icon-list-three li::before {
  background: url('../images/darkblue.svg') no-repeat center center;
}

.icon-list-four li::before {
  background: url('../images/blue.svg') no-repeat center center;
}

.icon-list-five li::before {
  background: url('../images/pink.svg') no-repeat center center;
}

/************************** HOW IT WORKS ***************************/

/* vertical breadcrumbs */
.breadcrumb-item {
  margin-bottom: 1px;
  border-radius: 4px;
  padding: 20px;
}

.breadcrumb-item-forone {
  background-color: var(--aqua);
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item-fortwo {
  background-color: var(--purple);
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item-forthree {
  background-color: var(--dark-blue);
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item-forfour {
  background-color: var(--blue);
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item-forfive {
  background-color: var(--pink);
  text-decoration: none;
  font-weight: 500;
}

/* underline under the box - the user knows that the item was clicked */

.breadcrumb-item-forone.active {
  border-bottom: 4px solid white;
}

.breadcrumb-item-fortwo.active {
  border-bottom: 4px solid white;
}

.breadcrumb-item-forthree.active {
  border-bottom: 4px solid white;
}

.breadcrumb-item-forfour.active {
  border-bottom: 4px solid white;
}

.breadcrumb-item-forfive.active {
  border-bottom: 4px solid white;
}

ul {
  list-style-type: none; /* Removes bullet points */
  padding: 8px; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

/* vertical breadcrumbs container */
.container-section {
  margin-top: 100px;
  border-radius: 4px;
}

.breadcrumb {
  background: none;
  padding: 0; 
}

.breadcrumb-item + .breadcrumb-item::before {
  content: none; /* remove the default divider */
}

/************************** TEAM ***************************/

.card {
  border: none;
}

.card-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.card-body {
  padding: 12px 0px;
}

.img-fluid-social {
  margin-top: 0px;
}


/************************** FOOTER ***************************/

.footer {
  background-color: var(--purple); 
  padding: 20px;
}

.copyright {
  padding: 0px;
  color: var(--white); 
  font-size: 0.85em;
}

.slogan {
  margin-top: 0px;
  margin-left: 80px;
  font-size: 0.85rem;
  color: var(--white); 
  font-weight: 400;
}

.text-white {
  font-size: 0.85rem;
}

.text-reset {
  text-decoration: none;
}

.text-uppercase {
  color: var(--white);
  text-decoration: none;
}

a img {
  border: none;  /* removes any borders from the image */
  outline: none;  /* removes the default focus outline */
}

a {
  text-decoration: none;  /* removes any default underline or other link decorations */
  border: none;           /* ensures no borders are applied to the anchor tag itself */
  outline: none;          /* removes the outline that appears when focused */
}





